In [ ]:
import ipywidgets as widgets
import numpy as np
import os
import pandas as pd

configs = {
    "knmi": {
        "0": [
            "Relative atmospheric humidity",
            "Sunshine duration",
            "Global Radiation",
            "Horizontal visibility",
            "Temperature"
        ]
    },
    "factory zero": {
        "alklimaHeatPump": [
            "flow_temp",
            "return_temp",
            "op_mode"
        ],
        "co2sensor": [
            "co2",
            "voc"
        ],
        "ventilation": [
            "outdoor_temp",
            "room_temp"
        ],
        "smartMeter": ["power"],
        "energyHeatpump": ["power"],
        "solar": ["power"]
    }
}

datasets = next(os.walk("data"), (None, None, []))[2]
results = pd.DataFrame()
devNullOutput = widgets.Output()

for conf, sheets in configs.items():
    if conf == "knmi":
        files = [it for it in datasets if ".csv" in it]
    else:
        files = [it for it in datasets if ".xlsx" in it]
    for sheet, columns in sheets.items():
        for path in files:
            # Load the data
            with devNullOutput:
                %run helpers/load_data.ipynb
                config_select.value = conf
                file_select.value = path
                for column in columns:
                    dfloader.add_targets(column, sheet_name=sheet)
            for target in dfloader.targets:
                results = results.append({
                    "Filename": path.split('/')[-1],
                    "Target": target,
                    "Kurtosis": dfloader.df[target].kurtosis()
                }, ignore_index=True)

        results.sort_values(["Target", "Kurtosis"], inplace=True)
        targets = results["Target"].unique()
        for target in targets:
            if any([column in target for column in columns]):
                display(results[results["Target"] == target])

results.to_csv("kurtosis.csv")

                       Filename  Kurtosis            Target
57           310 Vlissingen.csv  2.004681  Global Radiation
92            370 Eindhoven.csv  2.038965  Global Radiation
87            273 Marknesse.csv  2.045927  Global Radiation
47           380 Maastricht.csv  2.052539  Global Radiation
42             269 Lelystad.csv  2.102313  Global Radiation
97              235 De Kooy.csv  2.114443  Global Radiation
12     330 Hoek van Holland.csv  2.136244  Global Radiation
27            319 Westdorpe.csv  2.179594  Global Radiation
82         257 Wijk aan Zee.csv  2.192275  Global Radiation
67          215 Voorschoten.csv  2.216134  Global Radiation
77            344 Rotterdam.csv  2.227166  Global Radiation
22           270 Leeuwarden.csv  2.281001  Global Radiation
7              240 Schiphol.csv  2.301225  Global Radiation
52              260 De Bilt.csv  2.316581  Global Radiation
2             277 Lauweroog.csv  2.411192  Global Radiation
17               209 IJmond.csv       NaN  Global Radiation
32           324 Stavenisse.csv       NaN  Global Radiation
37             225 IJmuiden.csv       NaN  Global Radiation
62  343 Rotterdam Geulhaven.csv       NaN  Global Radiation
72             242 Vlieland.csv       NaN  Global Radiation

                       Filename  Kurtosis                 Target
68          215 Voorschoten.csv  3.993583  Horizontal visibility
73             242 Vlieland.csv  4.183326  Horizontal visibility
88            273 Marknesse.csv  4.192641  Horizontal visibility
53              260 De Bilt.csv  4.408854  Horizontal visibility
43             269 Lelystad.csv  4.486636  Horizontal visibility
23           270 Leeuwarden.csv  4.663240  Horizontal visibility
28            319 Westdorpe.csv  4.673964  Horizontal visibility
98              235 De Kooy.csv  4.712058  Horizontal visibility
93            370 Eindhoven.csv  4.864109  Horizontal visibility
78            344 Rotterdam.csv  5.528981  Horizontal visibility
8              240 Schiphol.csv  5.657232  Horizontal visibility
58           310 Vlissingen.csv  5.723379  Horizontal visibility
48           380 Maastricht.csv  5.914903  Horizontal visibility
3             277 Lauweroog.csv       NaN  Horizontal visibility
13     330 Hoek van Holland.csv       NaN  Horizontal visibility
18               209 IJmond.csv       NaN  Horizontal visibility
33           324 Stavenisse.csv       NaN  Horizontal visibility
38             225 IJmuiden.csv       NaN  Horizontal visibility
63  343 Rotterdam Geulhaven.csv       NaN  Horizontal visibility
83         257 Wijk aan Zee.csv       NaN  Horizontal visibility

                       Filename  Kurtosis                         Target
45           380 Maastricht.csv -0.260540  Relative atmospheric humidity
90            370 Eindhoven.csv -0.224910  Relative atmospheric humidity
70             242 Vlieland.csv -0.091373  Relative atmospheric humidity
50              260 De Bilt.csv -0.009990  Relative atmospheric humidity
5              240 Schiphol.csv  0.197263  Relative atmospheric humidity
95              235 De Kooy.csv  0.208701  Relative atmospheric humidity
75            344 Rotterdam.csv  0.269973  Relative atmospheric humidity
25            319 Westdorpe.csv  0.344693  Relative atmospheric humidity
55           310 Vlissingen.csv  0.389863  Relative atmospheric humidity
65          215 Voorschoten.csv  0.399248  Relative atmospheric humidity
0             277 Lauweroog.csv  0.464874  Relative atmospheric humidity
10     330 Hoek van Holland.csv  0.547653  Relative atmospheric humidity
40             269 Lelystad.csv  0.589692  Relative atmospheric humidity
85            273 Marknesse.csv  0.711422  Relative atmospheric humidity
80         257 Wijk aan Zee.csv  0.720209  Relative atmospheric humidity
20           270 Leeuwarden.csv  0.732393  Relative atmospheric humidity
15               209 IJmond.csv       NaN  Relative atmospheric humidity
30           324 Stavenisse.csv       NaN  Relative atmospheric humidity
35             225 IJmuiden.csv       NaN  Relative atmospheric humidity
60  343 Rotterdam Geulhaven.csv       NaN  Relative atmospheric humidity

                       Filename  Kurtosis             Target
56           310 Vlissingen.csv -0.365402  Sunshine duration
96              235 De Kooy.csv -0.297841  Sunshine duration
11     330 Hoek van Holland.csv -0.229098  Sunshine duration
86            273 Marknesse.csv -0.209619  Sunshine duration
41             269 Lelystad.csv -0.200378  Sunshine duration
66          215 Voorschoten.csv -0.193270  Sunshine duration
6              240 Schiphol.csv -0.165993  Sunshine duration
81         257 Wijk aan Zee.csv -0.157383  Sunshine duration
46           380 Maastricht.csv -0.146066  Sunshine duration
21           270 Leeuwarden.csv -0.131184  Sunshine duration
26            319 Westdorpe.csv -0.114079  Sunshine duration
91            370 Eindhoven.csv -0.108439  Sunshine duration
51              260 De Bilt.csv -0.101631  Sunshine duration
76            344 Rotterdam.csv -0.097856  Sunshine duration
1             277 Lauweroog.csv -0.018336  Sunshine duration
16               209 IJmond.csv       NaN  Sunshine duration
31           324 Stavenisse.csv       NaN  Sunshine duration
36             225 IJmuiden.csv       NaN  Sunshine duration
61  343 Rotterdam Geulhaven.csv       NaN  Sunshine duration
71             242 Vlieland.csv       NaN  Sunshine duration

                       Filename  Kurtosis       Target
59           310 Vlissingen.csv -0.450651  Temperature
4             277 Lauweroog.csv -0.388548  Temperature
74             242 Vlieland.csv -0.341077  Temperature
49           380 Maastricht.csv -0.323429  Temperature
99              235 De Kooy.csv -0.315997  Temperature
44             269 Lelystad.csv -0.283782  Temperature
9              240 Schiphol.csv -0.276347  Temperature
94            370 Eindhoven.csv -0.271948  Temperature
54              260 De Bilt.csv -0.265535  Temperature
69          215 Voorschoten.csv -0.224403  Temperature
79            344 Rotterdam.csv -0.223448  Temperature
89            273 Marknesse.csv -0.215429  Temperature
14     330 Hoek van Holland.csv -0.186742  Temperature
24           270 Leeuwarden.csv -0.184904  Temperature
29            319 Westdorpe.csv -0.156019  Temperature
84         257 Wijk aan Zee.csv -0.085047  Temperature
19               209 IJmond.csv       NaN  Temperature
34           324 Stavenisse.csv       NaN  Temperature
39             225 IJmuiden.csv       NaN  Temperature
64  343 Rotterdam Geulhaven.csv       NaN  Temperature

     Filename  Kurtosis                     Target
142  057.xlsx -0.232343  alklimaHeatPump_flow_temp
154  056.xlsx  0.720355  alklimaHeatPump_flow_temp
151  042.xlsx  0.911948  alklimaHeatPump_flow_temp
136  115.xlsx  1.610267  alklimaHeatPump_flow_temp
148  040.xlsx  1.693862  alklimaHeatPump_flow_temp
157  037.xlsx  1.779193  alklimaHeatPump_flow_temp
127  078.xlsx  1.977663  alklimaHeatPump_flow_temp
139  039.xlsx  1.983665  alklimaHeatPump_flow_temp
109  105.xlsx  2.245847  alklimaHeatPump_flow_temp
124  021.xlsx  2.667842  alklimaHeatPump_flow_temp
115  099.xlsx  2.752413  alklimaHeatPump_flow_temp
106  072.xlsx  3.034413  alklimaHeatPump_flow_temp
130  054.xlsx  3.198630  alklimaHeatPump_flow_temp
112  051.xlsx  3.530419  alklimaHeatPump_flow_temp
145  025.xlsx  3.595548  alklimaHeatPump_flow_temp
100  058.xlsx  3.712097  alklimaHeatPump_flow_temp
133  100.xlsx  3.907190  alklimaHeatPump_flow_temp
118  055.xlsx  4.833582  alklimaHeatPump_flow_temp
103  060.xlsx  5.179285  alklimaHeatPump_flow_temp
121  041.xlsx  5.763603  alklimaHeatPump_flow_temp

     Filename   Kurtosis                   Target
138  115.xlsx   1.643632  alklimaHeatPump_op_mode
135  100.xlsx   1.728509  alklimaHeatPump_op_mode
141  039.xlsx   2.672152  alklimaHeatPump_op_mode
102  058.xlsx   3.089438  alklimaHeatPump_op_mode
108  072.xlsx   3.140042  alklimaHeatPump_op_mode
156  056.xlsx   3.226402  alklimaHeatPump_op_mode
147  025.xlsx   3.485690  alklimaHeatPump_op_mode
117  099.xlsx   3.582762  alklimaHeatPump_op_mode
105  060.xlsx   3.890890  alklimaHeatPump_op_mode
144  057.xlsx   3.924034  alklimaHeatPump_op_mode
150  040.xlsx   4.189058  alklimaHeatPump_op_mode
159  037.xlsx   4.512576  alklimaHeatPump_op_mode
126  021.xlsx   5.466161  alklimaHeatPump_op_mode
111  105.xlsx   5.467119  alklimaHeatPump_op_mode
132  054.xlsx   5.778331  alklimaHeatPump_op_mode
120  055.xlsx   6.897210  alklimaHeatPump_op_mode
153  042.xlsx   6.983218  alklimaHeatPump_op_mode
114  051.xlsx   7.995987  alklimaHeatPump_op_mode
123  041.xlsx   8.665749  alklimaHeatPump_op_mode
129  078.xlsx  11.818055  alklimaHeatPump_op_mode

     Filename  Kurtosis                       Target
143  057.xlsx  0.272146  alklimaHeatPump_return_temp
152  042.xlsx  1.386998  alklimaHeatPump_return_temp
149  040.xlsx  1.464126  alklimaHeatPump_return_temp
155  056.xlsx  1.752216  alklimaHeatPump_return_temp
128  078.xlsx  1.886219  alklimaHeatPump_return_temp
137  115.xlsx  2.116030  alklimaHeatPump_return_temp
140  039.xlsx  2.342771  alklimaHeatPump_return_temp
158  037.xlsx  2.588741  alklimaHeatPump_return_temp
110  105.xlsx  2.591904  alklimaHeatPump_return_temp
116  099.xlsx  3.406986  alklimaHeatPump_return_temp
125  021.xlsx  3.523568  alklimaHeatPump_return_temp
131  054.xlsx  3.574817  alklimaHeatPump_return_temp
113  051.xlsx  4.140062  alklimaHeatPump_return_temp
107  072.xlsx  4.270218  alklimaHeatPump_return_temp
101  058.xlsx  4.452434  alklimaHeatPump_return_temp
119  055.xlsx  4.895434  alklimaHeatPump_return_temp
122  041.xlsx  5.284135  alklimaHeatPump_return_temp
146  025.xlsx  5.827448  alklimaHeatPump_return_temp
104  060.xlsx  5.913337  alklimaHeatPump_return_temp
134  100.xlsx  6.957032  alklimaHeatPump_return_temp

     Filename   Kurtosis         Target
172  055.xlsx  -0.317036  co2sensor_co2
164  072.xlsx   0.423756  co2sensor_co2
178  078.xlsx   0.496043  co2sensor_co2
168  051.xlsx   0.597312  co2sensor_co2
198  037.xlsx   0.776738  co2sensor_co2
192  040.xlsx   1.014060  co2sensor_co2
194  042.xlsx   1.856234  co2sensor_co2
188  057.xlsx   1.904149  co2sensor_co2
182  100.xlsx   1.934123  co2sensor_co2
184  115.xlsx   2.158027  co2sensor_co2
170  099.xlsx   2.235878  co2sensor_co2
166  105.xlsx   2.450164  co2sensor_co2
174  041.xlsx   2.815720  co2sensor_co2
176  021.xlsx   3.276330  co2sensor_co2
160  058.xlsx   5.282503  co2sensor_co2
180  054.xlsx   7.650241  co2sensor_co2
190  025.xlsx  10.533676  co2sensor_co2
162  060.xlsx  11.143047  co2sensor_co2
186  039.xlsx  24.717978  co2sensor_co2
196  056.xlsx  46.880466  co2sensor_co2

     Filename    Kurtosis         Target
173  055.xlsx   -0.762553  co2sensor_voc
183  100.xlsx   -0.491656  co2sensor_voc
179  078.xlsx   -0.448620  co2sensor_voc
163  060.xlsx    0.878803  co2sensor_voc
187  039.xlsx    1.394088  co2sensor_voc
169  051.xlsx    1.676349  co2sensor_voc
177  021.xlsx    1.755182  co2sensor_voc
191  025.xlsx    1.892745  co2sensor_voc
185  115.xlsx    2.891402  co2sensor_voc
175  041.xlsx    3.873378  co2sensor_voc
171  099.xlsx    5.604876  co2sensor_voc
165  072.xlsx    8.548821  co2sensor_voc
189  057.xlsx    8.955377  co2sensor_voc
197  056.xlsx    9.167612  co2sensor_voc
181  054.xlsx   11.634940  co2sensor_voc
199  037.xlsx   13.214636  co2sensor_voc
167  105.xlsx   16.433925  co2sensor_voc
195  042.xlsx   20.481941  co2sensor_voc
161  058.xlsx   38.756504  co2sensor_voc
193  040.xlsx  467.807493  co2sensor_voc

     Filename  Kurtosis                    Target
202  072.xlsx -0.648635  ventilation_outdoor_temp
222  115.xlsx -0.640621  ventilation_outdoor_temp
224  039.xlsx -0.639663  ventilation_outdoor_temp
230  040.xlsx -0.558514  ventilation_outdoor_temp
220  100.xlsx -0.512231  ventilation_outdoor_temp
236  037.xlsx -0.439200  ventilation_outdoor_temp
234  056.xlsx -0.395520  ventilation_outdoor_temp
232  042.xlsx -0.388581  ventilation_outdoor_temp
216  078.xlsx -0.367829  ventilation_outdoor_temp
228  025.xlsx -0.347598  ventilation_outdoor_temp
214  021.xlsx -0.253805  ventilation_outdoor_temp
210  055.xlsx -0.242360  ventilation_outdoor_temp
204  105.xlsx -0.219287  ventilation_outdoor_temp
218  054.xlsx -0.200633  ventilation_outdoor_temp
208  099.xlsx -0.167220  ventilation_outdoor_temp
206  051.xlsx -0.162939  ventilation_outdoor_temp
226  057.xlsx -0.131137  ventilation_outdoor_temp
212  041.xlsx -0.068019  ventilation_outdoor_temp
200  058.xlsx -0.021302  ventilation_outdoor_temp

     Filename  Kurtosis                 Target
225  039.xlsx -0.775140  ventilation_room_temp
231  040.xlsx -0.661595  ventilation_room_temp
211  055.xlsx -0.544263  ventilation_room_temp
207  051.xlsx -0.542957  ventilation_room_temp
221  100.xlsx -0.502639  ventilation_room_temp
203  072.xlsx -0.482515  ventilation_room_temp
219  054.xlsx -0.369268  ventilation_room_temp
233  042.xlsx -0.352413  ventilation_room_temp
217  078.xlsx -0.312173  ventilation_room_temp
237  037.xlsx -0.299647  ventilation_room_temp
215  021.xlsx -0.268538  ventilation_room_temp
209  099.xlsx -0.260688  ventilation_room_temp
201  058.xlsx -0.111472  ventilation_room_temp
213  041.xlsx -0.070260  ventilation_room_temp
227  057.xlsx  0.002568  ventilation_room_temp
205  105.xlsx  0.045391  ventilation_room_temp
223  115.xlsx  0.210272  ventilation_room_temp
235  056.xlsx  0.797087  ventilation_room_temp
229  025.xlsx  2.447603  ventilation_room_temp

     Filename  Kurtosis            Target
250  115.xlsx  1.335132  smartMeter_power
255  042.xlsx  1.357477  smartMeter_power
243  099.xlsx  1.429675  smartMeter_power
256  056.xlsx  1.460481  smartMeter_power
242  051.xlsx  1.474678  smartMeter_power
254  040.xlsx  1.572803  smartMeter_power
251  039.xlsx  1.620224  smartMeter_power
245  041.xlsx  1.694302  smartMeter_power
252  057.xlsx  1.707770  smartMeter_power
249  100.xlsx  1.710314  smartMeter_power
244  055.xlsx  1.730527  smartMeter_power
248  054.xlsx  1.736150  smartMeter_power
240  072.xlsx  1.796638  smartMeter_power
257  037.xlsx  1.864181  smartMeter_power
241  105.xlsx  1.887806  smartMeter_power
239  060.xlsx  1.938458  smartMeter_power
238  058.xlsx  2.061667  smartMeter_power
247  078.xlsx  2.386689  smartMeter_power
253  025.xlsx  3.111696  smartMeter_power
246  021.xlsx  3.349327  smartMeter_power